<template name="me">


  <div class="container">
    <div>
  <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
  <script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/dan-corman/a5/965/791" data-format="hover" data-related="false"></script>
  </div>
    <div class='name'>Dan Corman</div>
    <div class='tabs'>
      {{#dynamicTabs tabs=tabs activeTab='home'}}
      {{#if activeTab}}
        {{trackActiveTab}}
        {{/if}}
        {{/dynamicTabs}}
      </div>
    <div class="jumbotron">
      <h1>Designer, Developer, Debugger</h1>
      <button class="btn btn-default" type="button">Learn More</button>




      {{#if homeButton}}
      <h3>{{homeButton}}</h3>
      {{/if}}
    </div>
  </div>
</template>


