<template name="skills">


  <div class="container">
    <div class='name'>Dan Corman</div>
    <div class='tabs'>
      {{#dynamicTabs tabs=tabs activeTab='skills'}}
      {{#if activeTab}}
        {{trackActiveTab activeTab}}
        {{/if}}
        {{/dynamicTabs}}
      </div>
    <div class="jumbotron">
      <h2>Skills</h2>
      <h1>Well, where to begin?!?</h1>
      <button class="btn btn-default" type="button">Learn More</button>

      


      {{#if skillsButton}}
      <h3>{{skillsButton}}</h3>
      {{/if}}
    </div>
  </div>
</template>


