<template name="skills">


  <div class="container">
    <div class='name'>Lizby Dingus</div>
    <div class='tabs'>
      {{#dynamicTabs tabs=tabs activeTab='skills'}}
      {{#if activeTab}}
        {{trackActiveTab activeTab}}
        {{/if}}
        {{/dynamicTabs}}
      </div>
    <div class="jumbotron">
      <h1>Skills and Passions</h1>
      <ul>
        <li>Internationally Renown Twitch Superstar - Harvest Moon</li>
          <li>National Awarded and Politically Influencial Hula Hooper</li>
           <li>World Powerful and All Knowledgable Lover of Animals</li>
           <li>Instrumental Leader in the Expansion of Literacy within my Immediate Vicinity</li>
           <li>Life Changing and Omnipotent Educator of Children</li>
           <li>Prophet of Multi-Dimensional Picnics and Galactic Devoider of Sarcasm</li>
        </ul>
      <button class="btn btn-default" type="button">Learn More</button>

      {{#if skillsButton}}
      <h3>{{skillsButton}}</h3>
      {{/if}}
    </div>
  </div>
</template>


