<template name="skills">


  <div class="container">
    <div class='name'>Lizby Dingus</div>
    <div class='tabs'>
      {{#dynamicTabs tabs=tabs activeTab='skills'}}
      {{#if activeTab}}
        {{trackActiveTab activeTab}}
        {{/if}}
        {{/dynamicTabs}}
      </div>
    <div class="jumbotron">
      <h2>Once Upon a Time, in a far away kingdom...</h2>
      <h1>The Mermaid of Kervalis</h1>
      <button class="btn btn-default" type="button">Story Continues...</button>

      


      {{#if skillsButton}}
      <h3>{{skillsButton}}</h3>
      {{/if}}
    </div>
  </div>
</template>


