body {
  color: #eee;
  /*background: #242424;*/
  background-image: url('https://c1.staticflickr.com/9/8885/18261086686_21df980caf_k.jpg');
}

.container {
  width: 960px;
  margin: 0 auto;
}

.name{
  float: right;
  font-size: 29px;
  font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
}
.jumbotron {
  opacity: 0.7;
  padding: 30px;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  color: #222;
  background-color: #eee;
  border-radius: 13px;
  font-family: "Helvetica Neue Ultra Light", "Helvetica Neue", "Arial Narrow", "Arial", sans-serif;
}
h1 {
  line-height: 1;
  font-size: 30px;
}
p {
  line-height: 1.4;
}
button {
  background: #eee;
  padding: 10px 20px;
}


.tabs-list{
  padding-left: 0;
}


.widgets{

  float: right;  
}

li{
  font-size: 23px;
}

h1{
  text-align: center;
}
